i{
  font-size: 1rem;
}

p, b{
  padding: 0;
  margin-bottom: 0.5rem;
}

.bgcolr{
    background-color: #4b0b0b;
}

.textcolr{
    color: #4b0b0b;
}
  
.myback{
    background: repeating-linear-gradient(#4b0b0b, #4b0b0b 49.9%, #f8f9fa 50.1%, #f8f9fa 100%);
}

  .abc{
    height:450px;
  }
  @media (max-width: 1000px) {
    .abc{
      height:10px;
    }
  
}